<%= form_with model: @party, url: party_path(@party), method: :patch, class: "p-4 shadow-md rounded-md text-left text-white" do |f| %>
  <div class="mt-4 w-full flex justify-between">
    <div class="text-2xl font-bold text-gray-300"><%= @party.title %> | Evento: <%= @party.event.name %></div>
    <%= f.submit 'Guardar', class: 'cursor-pointer bg-purple-500 text-white active:bg-purple-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150' %>
  </div>
  <div class="mt-4">
    
  </div>
  <div class="w-full grid gap-4 grid-cols-5">
    <% 10.times do |party_index| %>
      <div class="bg-gray-800 p-2">
        <% 5.times do |member_index| %>
        <% member_label = "p#{party_index}_m#{member_index + 1}" %>
          <%= f.select member_label, 
                       options_for_select(@party.member_for(member_label, @attendees), @party.member_at(member_label, @attendees)),
                       {}, {class: "form-select mt-1 block w-full text-gray-200 bg-gray-900"} %>
        <% end -%>
      </div>
    <% end -%>  
  </div>
<% end -%>