<section class="px-4 md:px-10 overflow-auto custom-scrollbar text-white" style="z-index: 999;">

<a class="text-purple-500 bg-transparent border border-solid border-purple-500 hover:bg-purple-500 hover:text-white active:bg-purple-600 font-bold uppercase text-sm px-6 py-3 rounded mr-1 mb-1 ease-linear transition-all duration-150" type="button" href="/events/new">
  Crear nuevo evento
</a>
<div class="flex flex-col w-full mt-4">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-900 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-900">
          <thead class="bg-gray-800">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Event
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Description
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Status
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-gray-700 divide-y divide-gray-900">
            <% @events.each do |event| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= link_to event_path(event) do %>
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        <img class="h-10 w-10 rounded-full" src="https://i.imgur.com/Tm1HTIA.png" alt="">
                      </div>
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-100">
                          <%= event.name %>
                        </div>
                        <div class="text-sm text-gray-400">
                          <%= event.activity %>
                        </div>
                      </div>
                    </div>
                  <% end -%>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-200"><%= event.event_details %></div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="<%= edit_event_path(event) %>" class="text-blue-400 hover:text-indigo-200">Edit</a>
                  <%# button_to "Borrar", destroy_event_path, method: :delete, data: { turbo: false },
                      class: "text-blue-400 hover:text-indigo-200"%>
                  <a href="#" class="text-blue-400 hover:text-indigo-200">Delete</a>
                </td>
              </tr>
            <% end -%>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</section>