<!-- Card -->
<div
  class="shadow-md rounded-md overflow-hidden text-center px-[100px] z-20"
>
  <div class="py-3 px-5 bg-black text-gray-200"><%= @event.activity %></div>

  <div class="p-5 bg-gray-900 text-gray-100">
    <h5 class="text-xl font-semibold mb-2"><%= @event.name %></h5>

    <p class="mb-4">
      <%= @event.event_details %>
    </p>

    <a class="bg-purple-500 text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      href="/events" type="button">
      volver
    </a>

    <% if @event.published_at.present? %>
      <div class="flex flex-col my-4">
        <div class="w-full">
          <%= link_to "Publicar nuevamente en Discord", event_publish_path(@event), class: "bg-purple-500 text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 max-w-[200px]", data: { turbo:false, confirm: "Seguro? Este eveno ya ha sido publicado anteriormente."}  %>
        </div>
        <span class="text-xs font-bold text-gray-500 mt-2">Este evento se publico en discord el <%= @event.published_at %></span>
      </div>
    <% else %>
      <%= link_to "Publicar en Discord", event_publish_path(@event), class: "bg-purple-500 text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"  %>
    <% end -%>

    <div>
      <span class="font-bold text-xl text-gray-200">Confirmados</span>
      <ul class="mt-4">
        <% @event.event_attendees.each do |attendee| %>
          <li>[<%= attendee.role_1 %>] - <%= attendee.nickname %> - Guild: <%= attendee.guild %></li>
        <% end -%>
      </ul>
    </div>

  </div>
</div>
<!-- Card -->