<!DOCTYPE html>
<html>
  <head>
    <title>Lokthar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="bg-no-repeat bg-cover bg-top h-screen overflow-hidden z-0 relative">
       <div class="w-full h-screen dark:bg-gray-900 absolute bg-opacity-70 py-8"></div>
       <div class="md:mx-auto bg-gray-100 dark:bg-gray-900 relative">
          <div class="w-full flex h-screen">
             <%= render 'shared/sidebar' %>
             <div class="flex flex-col w-full h-screen relative">
                <%= render 'shared/header' %>
                <%= yield %>            
             </div>
          </div>
          <div class="top-[5%] right-2 md:right-10 absolute z-40 shadow-md"></div>
       </div>
    </div>
  </body>
</html>
